streamlit
pandas
numpy
unstructured
unstructured[pdf]
unstructured[docx]
llama_index
openpyxl
xlsxwriter
cohere
llmsherpa
camelot-py
llama-hub
ghostscript
pdf2image
qdrant_client 
tools 
frontend 
git+https://github.com/openai/CLIP.git 
easyocr
openai
deep-translator
python-dotenv
biopython
fastembed
qdrant-client[fastembed]
rank_bm25
transformers
optimum[exporters]
streamlit-searchbox
scikit-learn
sentence-transformers
PIL
PyMuPDF
torchvision
streamlit-extras
streamlit-camera-input-live
streamlit-card
streamlit-webrtc
streamlit-authenticator
streamlit_carousel
httpx-oauth
rank-bm25
git+https://github.com/openai/CLIP.git 
openai
deep-translator
python-dotenv
biopython
fastembed
qdrant-client[fastembed]
rank_bm25
IPython
scikit-learn
PIL
aiohttp
aiofiles
pywin32
portalocker
icecream
PyMuPDF
streamlit-antd-components
pdfminer
unstructured_inference